<div class="container">
<div class="row">
    <div class="col-lg-6">
    <p>
    <strong>
    dekeku.my.id
    </strong>
    menyediakan layanan pembuatan website untuk kebutuhan personal dan bisnis kecil, meliputi website UMKM yang profesional dan simpel, website portofolio pribadi yang menarik untuk menampilkan karya, serta undangan digital interaktif untuk berbagai acara. Dengan proses cepat, desain eksklusif, harga terjangkau, dan dukungan penuh, dekeku.my.id hadir sebagai solusi praktis dan elegan untuk membangun kehadiran digital Anda.
    </p>
    <ul class="d-flex list-unstyled mb-5 mb-lg-0">
    <li class="mr-2">
    <a aria-label="whatsapp social link" class="btn btn-icon-only btn-pill btn-primary" data-placement="top" data-toggle="tooltip" data-variabel="link-wa" target="_blank" title="Follow @dekeku di Twitter">
        <span aria-hidden="true" class="fab fa-whatsapp">
        </span>
    </a>
    </li>
    <li class="mr-2">
    <a aria-label="facebook social link" class="btn btn-icon-only btn-pill btn-primary" data-placement="top" data-toggle="tooltip" href="https://facebook.com/mustofa.wahyuajis" target="_blank" title="Like @dekeku di Facebook">
        <span aria-hidden="true" class="fab fa-facebook">
        </span>
    </a>
    </li>
    <li class="mr-2">
    <a aria-label="instagram social link" class="btn btn-icon-only btn-pill btn-primary" data-placement="top" data-toggle="tooltip" href="https://instagram.com/mustofa.wahyuajis" target="_blank" title="Follow kami di Instagram">
        <span aria-hidden="true" class="fab fa-instagram">
        </span>
    </a>
    </li>
    <li>
    <a aria-label="linkedin social link" class="btn btn-icon-only btn-pill btn-primary" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/wahyuajismustofa/" target="_blank" title="Follow kami di linkedin">
        <span aria-hidden="true" class="fab fa-linkedin">
        </span>
    </a>
    </li>
    </ul>
    </div>
    <div class="col-12 col-lg-2 mb-5 mb-lg-0">
    <h5>
    dekeku.my.id
    </h5>
    <ul class="footer-links list-unstyled mt-2">
    <li class="mb-1">
    <a class="p-2" href="./blog" target="_blank">
        Blog
    </a>
    </li>
    <li class="mb-1">
    <a class="p-2" href="./produk" target="_blank">
        Produk
    </a>
    </li>
    <li class="mb-1">
    <a class="p-2" href="./tentang" target="_blank">
        Tentang Kami
    </a>
    </li>
    <li>
    <a class="p-2" href="./kontak" target="_blank">
        Kontak
    </a>
    </li>
    </ul>
    </div>
    <div class="col-12 col-lg-4 mb-5 mb-lg-0">
    <h5>
    Kontak Cepat
    </h5>
    <p class="text-gray font-small mt-2">
    Hubungi kami untuk konsultasi keperluan anda.
    </p>
    <form data-aksi="whatsapp" data-keterangan="Konsultasi dekeku">
    <div class="form-row mb-2">
    <div class="col-12">
        <label class="h6 font-weight-normal d-none" for="footer-pesan-wa">
        Pesan
        </label>
        <textarea aria-label="Input Pesan WhatsApp" class="form-control mb-2" id="footer-pesan-wa" name="pesan" placeholder="Tulis Pesan Anda.." required="" rows="4"></textarea>
    </div>
    <div class="col-12">
        <button class="btn btn-primary btn-block" data-loading-text="Sending" type="submit">
        <span>
        Kirim
        </span>
        </button>
    </div>
    </div>
    </form>
    <p class="text-gray font-small m-0">
    Kepuasan Anda kembanggan kami.
    </p>
    </div>
</div>
<hr class="my-5"/>
<div class="row">
    <div class="col">
    <a class="d-flex justify-content-center" href="/">
    <img alt="Themesberg Logo" class="mb-3" height="25" src="/assets/img/brand/logo.svg"/>
    </a>
    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
    <p class="font-weight-normal font-small mb-0">
    dekeku.my.id ©
    <span class="current-year">
        2020
    </span>
    <strong>
        Punya Web Sendiri Itu Gampang!
    </strong>
    </p>
    </div>
    </div>
</div>
</div>