<nav aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-primary" id="navbar-main">
<div class="container position-relative">
  <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/index.html">
  <img alt="Logo light" class="navbar-brand-dark" src="/assets/img/brand/dark-1.svg"/>
  <img alt="Logo dark" class="navbar-brand-light" src="/assets/img/brand/dark-1.svg"/>
  </a>
  <div class="navbar-collapse collapse" id="navbar_global">
  <div class="navbar-collapse-header">
    <div class="row">
    <div class="col-6 collapse-brand">
      <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light" href="/index.html">
      <img alt="Themesberg logo" src="/assets/img/brand/dark-1.svg"/>
      </a>
    </div>
    <div class="col-6 collapse-close">
      <a aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation" class="fas fa-times" data-target="#navbar_global" data-toggle="collapse" href="#navbar_global" title="close">
      </a>
    </div>
    </div>
  </div>
  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
    <li>
    <a class="nav-link" href="/pages/produk.html">
      Produk
    </a>
    </li>    
    <li>
    <li>
    <a class="nav-link" href="/pages/keranjang.html">
      Keranjang
    </a>
    </li>    
    <li>      
    <a class="nav-link" href="/pages/tentang.html">
      Tentang Kami
    </a>
    </li>
    <li>
    <a class="nav-link" href="/pages/paket.html">
      Paket Harga
    </a>
    </li>
    <li>
    <a class="nav-link" href="/pages/kontak.html">
      Kontak
    </a>
    </li>
  </ul>
  </div>
  <div class="d-flex align-items-center">
  <a class="btn btn-sm btn-primary" data-variabel="link-wa" role="button">
    <span class="fab fa-whatsapp">
    </span>
  </a>
  <a class="btn btn-sm btn-primary position-relative p-2 mx-2" id="cartButton" href="/pages/keranjang.html">
    <i class="fas fa-shopping-cart">
    </i>
    <span class="position-absolute top-0 start-100 translate-middle badge btn-danger" id="cartCount">
     0
    </span>
  </a>
  <button aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler ml-2" data-target="#navbar_global" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  </div>
</div>
</nav>
